@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 1rem
	min-width: 320px
	position: relative
	line-height: 1.5
	font-weight: 400
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

ul, li
	padding: 0
	margin: 0
	list-style-type: none

h1
	font-size: 90px
	line-height: 117px
	margin-bottom: 40px

h2
	font-size: 44px
	line-height: 66px
	margin-bottom: 16px

h3
	font-size: 28px
	line-height: 42px

.main-head__menu--toggle
	display: none

.toggle-mnu 
	display: inline-block
	width: 28px
	height: 28px
	margin-top: 14px
	span:after, span:before 
		content: ""
		position: absolute
		left: 0
		top: 9px
	span:after
		top: 18px
	span 
		position: relative
		display: block
	span, span:after, span:before
		width: 100%
		height: 2px
		background-color: #fff
		transition: all 0.3s
		backface-visibility: hidden
		border-radius: 2px
	&.on span 
		background-color: transparent
	&.on span:before 
		transform: rotate(45deg) translate(-1px, 0px)
	&.on span:after 
		transform: rotate(-45deg) translate(6px, -7px)

.main-head
	background-color: #000
	color: #fff
	display: block
	z-index: 99
	width: 100%
	&__logo
		margin: 60px 0 24px
		img
			width: 40px
			height: 48px
			margin-right: 20px
		a
			font-weight: bold
			color: #fff
			font-size: 28px
			text-decoration: none
			display: flex
			align-items: center
	&__menu
		display: flex
		align-items: flex-end
		height: 100%
		ul
			text-align: right
			width: 100%
			li
				display: inline-block
				margin: 0 14px 0 15px
				a
					font-size: 16px
					color: #FFF
					text-decoration: none
					padding: 20px 0 36px
					display: block
					position: relative
				&.active
					a:after
						content: ''
						position: absolute
						left: 0
						bottom: 0
						width: 100%
						border-bottom: 5px solid #fff

.s-approach
	padding: 100px 0
	background-color: #000
	color: #fff
	background-repeat: no-repeat
	background-size: auto
	background-position: 100%
	&__desc
		max-width: 592px
		p
			font-size: 18px
			line-height: 27px
			margin-top: 40px
			strong
				font-size: 20px
		.line
			border-top: 1px solid #fff
			margin: 40px 0

.s-result
	padding: 80px 0
	background-color: #eceef2
	color: #000
	&__text
		max-width: 490px
		float: right
		p
			font-size: 18px
			line-height: 28.8px

.s-steps
	padding: 80px 0
	&__text
		font-size: 18px
		line-height: 28.8px
	&__item
		margin-bottom: 30px
		&:after
			content: ''
			display: table
			clear: both
		&--num
			float: left
			margin-right: 44px
			width: 120px
			height: 120px
			position: relative
			&:after
				content: ''
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				background-color: transparent
				border: 1px solid #000
				border-radius: 10em
			strong
				font-size: 80px
				position: absolute
				bottom: 0
				right: 0
				background-color: #fff
				z-index: 1
				line-height: 1
		&--text
			min-height: 130px
			h3
				margin-bottom: 16px
			p
				font-size: 18px
				line-height: 28.8px

.callback
	border-radius: 8px
	overflow: hidden
	border: 1px solid #00b4f0
	margin-top: 40px
	&-text
		background-color: #00b4f0
		padding: 48px
		color: #fff
		height: 100%
		p
			font-size: 18px
			line-height: 28.8px
			strong
				font-size: 28px
				line-height: 44.8px
				margin: 24px 0
				display: block
		&__arrow
			text-align: right
			margin-top: 24px
	&-form
		padding: 48px
		label
			font-size: 16px
			line-height: 24px
			font-weight: 700
			margin-bottom: 8px
			span
				margin-left: 8px
				font-size: 14px
				font-weight: normal
		&__btn
			margin-top: 44px
		&__title
			font-size: 28px
			line-height: 42px
			font-weight: bold
			margin-bottom: 24px

.btn
	border: 1px solid transparent
	outline: none
	transition: all .25s ease

.btn-form
	font-weight: 700
	cursor: pointer
	width: 100%
	padding: 12px 24px
	border-radius: 6px
	color: #fff
	background-color: #0d870d
	border-color: #0d870d
	&:hover
		background-color: darken(#0d870d, 5%)

.main-foot
	background-color: #000
	padding: 80px 0
	color: #fff
	&__logo
		img
			width: 40px
			height: 48px
			margin-right: 20px
		a
			font-weight: bold
			color: #fff
			font-size: 28px
			text-decoration: none
			display: flex
			align-items: center
	&__menu
		margin-top: 40px
		ul
			margin-left: -14px
			li
				display: inline-block
				margin: 8px 14px 0
				a
					font-size: 16px
					color: #FFF
					text-decoration: none
					display: block
					position: relative
					opacity: .5
					transition: all .25s ease
					&:hover
						opacity: 1
	&__copy
		opacity: .5


@import "media" // Always at the end
