$white: #f8f8f9;
// $primary: #72be75;
$primary: #2782cc;
$primary_s: #a4d6ff;
$sec: #a5aea4;

@mixin nmd {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    font-family: "Open Sans", serif;
    background: $white;
    counter-reset: section;
    color: rgb(51, 51, 51);
    background: #ececec;
}
.not_found {
    padding: 1em;
    grid-column: 1/3;

    border-radius: 6px;
    background-color: #ececec;
    padding: 1.5rem;
    padding-top: 16px;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    font-weight: 600;
    color: #333;
    &:after {
        content: " ";
        width: 20px;
        height: 20px;
        top: -10px;
        position: absolute;
        background: inherit;
        right: 28px;
        transform: rotate(45deg);
    }
}
.btn-back {
    padding: 1em;
    color: #fff;
    border-radius: 5px;
    background: $primary;
    display: inline-block;
    margin-top: 1em;
    cursor: pointer;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    margin: 4em auto;
}
.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: $primary;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: $primary;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

.container {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.btn {
    background-color: $primary;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 2px 10px rgba($primary, 0.5);
    }
    &:active {
        background-color: darken($primary, 10%);
    }
}

.loader {
    background-color: rgba($sec, 0.3);
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    transition: all 0.3s ease;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    .preloader {
        font-weight: 600;
        padding: 1em 2em 2em 2em;
        background: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.steps {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    color: #fff;
    &__name {
        position: absolute;
        z-index: 9;
        top: 50%;
        margin-top: -7%;
        left: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;
        @include nmd {
            margin-top: 0;
        }
        span:nth-child(3) {
            margin-left: 6px;
        }
        img {
            width: 14px;
            display: none;
        }
    }
    .steps__item {
        margin: 0 2px;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        width: 180px;
        height: 50px;

        @include nmd {
            .steps__name {
                top:0;
                bottom:0;
                display: flex;
                align-items: center;
                span:nth-child(3) {
                    display: none;
                }
            }
        }
        &.active {
            .steps__t,
            .steps__b {
                background-color: #292929;
            }
            .steps__name {
                color: #fff;
            }
        }

        &.done {
            .steps__t,
            .steps__b {
                background-color: #3ac33d;
            }
            color: #fff;
            img {
                display: block;
            }
            span:nth-child(1) > span:nth-child(2) {
                display: none;
            }
        }
    }

    &__t,
    &__b {
        width: 100%;
        height: 50%;
        background-color: #d3d3d3;
    }

    &__t {
        transform: skewX(33deg);
    }
    &__b {
        transform: skewX(-33deg) translateY(-1px);
    }
}

.step {
    position: absolute;
    top: 0;
    left: 0;
    // transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    // transform: translateY(-20px);
    width: 100%;
}

.fade-in {
    // animation: fi .4s ease forwards;
    // animation-delay: .5s;
    position: relative;
    opacity: 1;
    // transform: translateY(0);
    pointer-events: all !important;
}

@keyframes fi {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//Specialty
.Specialty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    @include nmd {
        grid-template-columns: repeat(1, 1fr);
    }

    &__item {
        padding: 1.5em 2em;
        border: 1px solid rgba($sec, 0.3);
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;
        transition: all 0.3s ease;
        box-shadow: 0 0 3px rgba($sec, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 10px;
        }

        &:hover {
            box-shadow: 0 4px 8px rgba($sec, 0.2);
            background: rgba($primary, 0.05);
        }
        &:active {
            color: #575757;
            box-shadow: 0 4px 8px rgba($primary, 0.2);
            background: rgba($primary, 0.3);
        }
    }
    &__title {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        @include nmd {
            font-size: 14px;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        img {
            max-width: 35%;
        }
    }
}
.end {
    display: flex;
    justify-content: flex-end;
}
.Doctors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    p {
        margin: 0;
    }
    &__item {
        padding: 1.5em 2em;
        border: 1px solid rgba($sec, 0.3);
        border-radius: 5px;
        transition: all 0.3s ease;
        background: #ffffff;
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        display: grid;
        grid-template-columns: 15% 1fr;
        gap: 1em;
        overflow: hidden;
        @include nmd {
            grid-template-columns: 30% 1fr;
            padding: 1em 0.5em;

        }
    }
    &__photo {
        min-height: 110px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }
    .btn_cont {
        padding-top: 15px;
        p {
            font-size: 14px;
            color: #7f7f7f;
            line-height: 21px;
            @include nmd {
                font-size: 10px;
                text-align: center;
            }
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        div:nth-child(1) {
            flex:1;
            padding-right: 15px;
        }
        @include nmd {
            flex-direction: column;
            div:nth-child(1) {
                padding-right: 0;
            }
        }
        &__spec {
            font-size: 14px;
            color: $sec;
        }
    }
    .btn_cont {
        grid-column: 1/3;
    }

    &__choose {
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        padding: 1em;
        color: $white;
        margin-top: 5px;
        background-color: #179ffa;
        border-radius: 5px;
        transition: all 0.3s ease;
        padding-right: 4em;
        position: relative;
        display: flex;
        align-items: center;
        &.active {
            &:before {
                transform: rotate(180deg);
            }
        }
        &:before {
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            right: 1.5em;
            display: block;
            background: url("../images/arrow.png") no-repeat;
            background-size: contain;
            background-position: center;
        }
        @include nmd {
            font-size: 14px;
            padding: 1em;
            padding-left: 2em;
        }
    }
}


.policy_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 999;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
    article {
        padding-bottom: 1em;
    }
}

.popup_content {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    overflow-y: scroll;
    max-height: 90vh;
    padding: 1em 2em;
}
.p3 .popup_content {
    overflow-y: auto;
}

.Doctors__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 999;
    .btn {
        &:before {
            transform: rotate(-90deg);
        }
        text-align: center;
        padding: 0.6em 1em;
        max-width: 180px;
        margin: 0 auto;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
        .Doctors__popup__container {
            transform: translateY(0);
        }
    }
    .icon_row {
        font-size: 0.875rem;
        font-weight: 600;
        display: flex;
        p {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-right: 40px;
            @include nmd {
                margin-right: 30px;
            }
        }
    }

    .icon {
        width: 22px;
        margin-right: 7px;
    }

    .heading {
        font-size: 18px;

        font-weight: 600;
        margin-bottom: 2em;
    }
    .Doctors__item {
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 1.5em;
        grid-template-columns: 20% 1fr;
        @include nmd {
            grid-template-columns: 1fr;
        }
    }
    .Doctors__photo {
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
    .Doctors__body {
        flex-direction: column;
    }

    &__container {
        transition: all 0.4s ease;
        transform: translateY(-20px);
        padding: 2em;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 3px 10px 5px rgba($sec, 0.2);

        max-width: 600px;
        width: 100%;
        @include nmd {
            margin-left: 1em;
            margin-right: 1em;
        }
        p {
            margin: 0;
        }
    }
}
input {
    height: 40px;
}
input,
textarea {
    transition: all 0.3s ease;
    width: 100%;
    padding: 1em;
    border: none;
    outline: none;
    border: solid 2px #7f7f7f;
    font-size: 14px;
    border-radius: 4px;
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    &:hover,
    &:focus {
        box-shadow: 0 3px 10px 5px rgba($sec, 0.2);
    }
}
.Doctors__form {
    form {
        max-width: 720px;
        margin: 0 auto;
        width: 100%;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 1px 2px 5px 0px #bfbfbf;
        margin: 1rem auto 3rem;
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em 2em;
        @include nmd {
            grid-template-columns: 1fr;
        }
    }

    textarea {
        min-height: 100px;
    }
    .full {
        grid-column-start: 1;
        grid-column-end: 3;
        @include nmd {
            grid-column-end: 1;
        }
    }
    label {
        display: flex;
        align-items: center;
        @include nmd {
            flex-direction: column;
        }
        p {
            color: #7f7f7f;
            font-weight: bold;
            font-size: 0.9375rem;
            width: 160px;
            @include nmd {
                width: 100%;
                margin: 10px;
            }
        }
    }
    .submit {
        margin-top: 1em;
        padding: 1em 2em;
        border-radius: 5px;
        color: #fff;
        background-color: $primary;
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
        @include nmd {
            margin-top: 0;
        }
    }
}
.Doctors__form > form:nth-child(1) > label:nth-child(2) {
    p {
        width: 60%;
        display: flex;
        align-items: center;
        @include nmd {
            width: 100%;
        }
        img {
            margin-left: 10px;
        }
    }
    input {
        width: 40%;
        @include nmd {
            width: 100%;
        }
    }
}
.policies {
    margin-top: 0.5em;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-left: 10px;
        font-weight: 600;
        input {
            margin-right: 0.8em;
            width: 25px;
            height: auto;
            &:hover, &:focus {
                box-shadow: none;
            }
        }
        margin-bottom: 1em;
    }
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: #23527c;
        }
    }
}
.owl-carousel {
    display: flex !important;
    grid-column: 1/3;
}
.popup {
    display: none;
    top: 0;
    z-index: 99;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    &.active {
        display: flex;
    }
}
.Confirm__phone {
    background: #fff;
    padding: 2em 2em;
    padding-top: 0.5em;
    max-width: 720px;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    input {
        border: 2px solid $sec;
        border-radius: 5px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .close_p {
        margin-bottom: 15px;
    }
    .popup_c {
        display: grid;
        align-items: center;
        grid-template-columns: 30% 1fr;
        gap: 1em;
        @include nmd {
            grid-template-columns: 1fr;
        }
    }

    .countdown {
    }
    .btn {
        margin-top: 1em;
        padding: 0.5em 2em;
        border-radius: 5px;
        color: #fff;
        background-color: $primary;
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
    }
    .resend {
        display: none;
        max-width: 240px;
        @include nmd {
            max-width: 100%;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    @include nmd {
        flex-direction: column;
        align-items: flex-start;
        .age {
            margin-left: 0;
            margin-top: 1em;
        }
    }
}

.bc {
    color: #333;
    font-weight: 600;
}

.gender {
    display: flex;
    p {
        margin-right: 15px;
    }
    &__item {
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        padding: 15px 20px;
        background: #fff;
        border: 2px solid rgba($sec, 0.3);
        display: flex;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
        &.active {
            border-color: $primary;
        }
    }
}

.age {
    margin-left: 30px;

    display: flex;
    p {
        margin-right: 15px;
    }
    select {
        padding: 10px 20px;
        min-width: 120px;
    }
}

.date_table, .date_table_mobile {
    display: none;
    position: relative;
    td {
        text-transform: capitalize;
    }
    &:before {
        content: " ";
        width: 20px;
        height: 20px;
        top: -10px;
        position: absolute;
        background: inherit;
        right: 28px;
        transform: rotate(45deg);
        z-index: 9;
    }
}

.date_table, .date_table_mobile {
    width: 100%;
    grid-column: 1/3;
    transition: left 0.3s ease;
    box-shadow: 0 3px 3px rgba($sec, 0.1);
    background: #ececec;
    padding: 1.5rem;
    box-sizing: border-box;
    p {
        margin: 1em 0;
    }
    .table__container {
        overflow: hidden;
        border: 1px solid #979797;
        border-radius: 4px;
    }
    table {
        border-spacing: 0;
        transition: all 0.3s ease;
        left: 0;
        position: relative;
        @include nmd {
            font-size: 12px;
        }
    }
    td {
        padding: 10px;
        font-size: 0.875rem;
        font-weight: 600;
        border-bottom: 1px dashed #979797;
        border-right: 1px solid #979797;
        &:first-child {
            width: auto;
            min-width: auto;
        }
        min-width: 250px;
    }

    .time__header {
        margin-bottom: 1em;
        text-align: center;
        @include nmd {
            min-width: 58vw;
        }
    }
    .time__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
    }
    .filled-bg {
        background-color: #979797;
        color: #fff;
        td {
            font-weight: 600;
        }
    }
    .time__item {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        padding: 0.2em;
        width: 45px;
        border-radius: 5px;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        cursor: pointer;
        background: #ffffff;
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-weight: 600;
        &:hover {
            box-shadow: 0 3px 3px rgba($sec, 0.4);
            background-color: $primary;
            color: #ffffff;
        }
        &:active {
            color: #575757;
            box-shadow: 0 3px 3px rgba($sec, 0.4);
            background: rgba($primary, 0.3);
        }
    }
}

.date_table_mobile td {
    border: none;
    width: 100%;
    padding: 5px;
}
.date_table_mobile .time__list {
    max-width: 100%;
    width: 100%;
}
.date_table_mobile {
    padding: 1em 0.5em;
    .table__container {
        border: none;
    }
    
    &>p {
        display: flex;
        align-items: center;
        img {
            height: 20px;
            margin-right: 10px;
        }
    }
}

.date_table_mobile {
    @media only screen and (min-width: 768px) {
        display: none !important;
    }
}

.date_table {
    @include nmd {
        display: none !important
    }
}


.date_table__ar {
    display: flex;
    justify-content: flex-end;

    .ar {
        background: url("../images/arr.svg") no-repeat;
        background-position: center;
        background-size: 14px;
        background-color: #000;
        border-radius: 50%;
        height: 28px;
        width: 28px;
        cursor: pointer;
        position: relative;
        top: 35px;
        z-index: 9;
        @include nmd {
            top: -10px;
        }
    }
    .left_ar {
        margin-right: 3px;
        transform: rotate(180deg);
    }
}
.adr_container {
    display: flex;
    flex-wrap: wrap;
}
.adr_item {
    background-color: #fff;
    cursor: pointer;
    margin-right: 0.5em;
    padding: 1em;
    border-radius: 5px;
    border: 2px solid rgba($sec, 0.3);
    @include nmd {
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
    }
    &.active {
        border-color: #2782cc;
    }
}

.alertCont {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    h3,
    p:nth-child(3) {
        color: red;
    }
}
.close_p {
    width: 1.375rem;
    height: 1.375rem;
    background: url("../images/close.png") no-repeat;
    background-size: auto;
    background-size: 1.375rem 1.375rem;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0.5;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

@include nmd {
    .Doctors__form > form:nth-child(1) > label:nth-child(3) {
        order: 1;
    }
    .Doctors__form > form:nth-child(1) > label:nth-child(1) {
        order: 2;
    }
    .Doctors__form > form:nth-child(1) > label:nth-child(5) {
        order: 3;
    }
    .Doctors__form > form:nth-child(1) > label:nth-child(4) {
        order: 4;
    }
    .Doctors__form > form:nth-child(1) > label:nth-child(2) {
        order: 5;
    }
    .Doctors__form > form:nth-child(1) > label:nth-child(6) {
        order: 6;
    }
    .full {
        order: 7;
    }
    .policies {
        order: 8;
    }
    .Doctors__form > form:nth-child(1) > div:nth-child(9) {
        order: 9;
    }
}
span.required {
    font-size: 13px;
    position: relative;
    margin-left: 5px;
    color: red;
    top: -4px;
}

// .step {
//     position: relative;
//     opacity: 1;
//     pointer-events: all;
// }

.Result {
    padding: 1em;
    background-color: #fff;
    &__cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        p {
            font-weight: 600;
        }
        @include nmd {
            grid-template-columns: 1fr;
        }
    }
    &__side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn {
        cursor: pointer;
        text-align: center;
        margin: 0.4em 1em;
        color: #fff;
        padding: 1em;
        font-size: 18px;
        font-weight: 600;
        border-radius: 4px;
    }
}

.lg {
    display: block;
    @include nmd {
        display: none;
    }
}

.nmd {
    display: none;
    @include nmd {
        display: block;
    }
}

.btn_close_popup {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    color: $white;
    margin-top: 5px;
    background-color: #179ffa;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    &.active {
        &:before {
            transform: rotate(180deg);
        }
    }
}

.date_table_mobile {
    grid-column: 1/3;

    .dates {
        display: flex;
        margin: 10px 0;
    }
    .date_container {
        overflow-x: auto;
    }

    .mobile_date_item{
        font-weight: 600;
        text-align: center;
        padding: 3px 10px;
        color: #333;
        cursor: pointer;
        margin-right: 5px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.60);
        background: #fff;
        font-size: 14px;
        text-transform: capitalize;
        border: 2px solid transparent;
        &.active {
            border: 2px solid #179ffa;
            color: #179ffa;
        }
    }
}

.adr_container_moblie {
    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }   
}

.hide_sex_and_age {
    @include nmd {
        display: none;
    }
}
.pt-0 {
    padding-top: 0 !important;
}